.header__logo,
.hero__heading,
.gallery__heading,
.call-to-action__info-heading,
.hero__text {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.hero,
.footer {
    background-color: #1f2937;
    font-weight: 300;
}

.hero__heading {
    font-size: 48px;
    color: #f9faf8;
    font: 900 48px Roboto;
}

.hero__text,
.header__link-1,
.header__link-2,
.header__link-3 {
    font-size: 18px;
    color: #e5e7eb;
}