* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


.header,
.hero,
.footer {
    background-color: #1f2937;
    font-weight: 400;
}

.hero__heading {
    font-size: 48px;
    color: #f9faf8;
    font: 900 48px Roboto;
}

.hero__text,
.header__link-1,
.header__link-2,
.header__link-3 {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.header__navbar {
    list-style-type: none;
}

.header__logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero__sign-up-button,
.call-to-action {
    background-color: #3882f6;
}

.gallery__heading {
    font: 900 36px Roboto;
    color: #1f3927;
}

.inspiring-quote {
    background-color: #e5e7eb;
}

.inspiring-quote__text {
    background-color: #e5e7eb;
    font: 300 italic normal 36px "Roboto";
    color: #1f2937;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 50px 125px;
}

.header__navbar {
    display: flex;
    margin: 0px;
    align-items: center;
    gap: 35px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 50px 125px;
    gap: 40px;
    height: 80vh;
}

.hero__left-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.hero__image {
    max-width: 100%;
    max-height: auto;
}

.hero__sign-up-button {
    padding: 7px 35px;
    color: #f9faf8;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 125px;
}

.gallery__heading {
    padding: 0 0 50px 0;
}

.gallery__tiles {
    display: flex;
    justify-content: space-between;
    gap: 40px;    
}


.gallery__tile-image {
    border: 5px solid #3882f6;
    max-width: 100%;
    border-radius: 7px;
}

.gallery_tile-info {
    text-align: center;
}

.inspiring-quote {
    padding: 50px 125px;
}

.inspiring-quote__author {
    text-align: end;
    font-weight: 900;
    font-size: 24px;
    padding-right: 30px;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 125px;
    padding: 50px 125px;
    border-radius: 7px;
    color: #f9faf8;
}

.call-to-action__button {
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 7px;
    padding: 7px 35px;
    font-size: 18px;
    color: #f9faf8;
    font-weight: 900;
}